.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 600px;
    margin-bottom: 50px;
  }
  
  .search-box input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-box button {
    padding: 11px 18px;
    font-size: 1rem;
    background-color: rgb(83, 83, 247);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-box button:hover {
    background-color: rgb(70, 67, 154);
  }
  